.banners {
    .center {
        text-align: center;
        padding: 40px;
        .orange {
            width: 129px;
            height: 43px;
        }
    }
    .banner-area {
        width: 60%;
        margin: auto;
        .banner-style {
            padding: 20px;
            border-bottom: 1px solid $grey2;
            &:hover {
                background-color: $grey3;
                cursor: pointer;
            }
            &:hover .icon-layer {
                display: block;
        }
        }
        .banner-style-top {
            @extend .banner-style;
            border-top: 1px solid $grey2;
        }
        .icon-layer {
            display: none;
            .icon-links {
                padding-right: 15px;
                color: $orange;
            }
        }
    }
}