* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row:before,
.row:after {
    content: " ";
    clear: both;
    display: table;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: $font;
}

.container {
  margin-left: 200px;
  padding: 15px;
  background-color: $grey4;
  .content {
    background-color: $white;
  }
}

.container-fluid {
    width: 100%;
  padding: 15px;
  }

@for $i from 1 through 12 {
    .col-sm-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }

  [class*="col-"] {
      float: left;
      min-height: 1px;
      width: 100%;
  }

  @media(max-width: 767px) {
    @include grid('sm');
    .container {
      margin-left: 50px;
    }
  }
  
  @media(min-width: 768px) {
    @include grid('md');
  }
  
  @media(min-width: 992px) {
    @include grid('lg');
  }
  
  @media(min-width: 1200px) {
    @include grid('xl');
  }