header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid $grey2;
    z-index: 1;
    .topbar {
        .row {
            display: flex;
            ul {
                display: flex;
                justify-content: flex-end;
                background-color: $white;
                list-style-type: none;
                li {
                    padding: 20px 15px;
                    color: $grey2;
                    font-size: 15px;
                    text-decoration: none;
                    border-left: 1px solid $grey2;
                    .userName {
                        color: $blue;
                    }
                    a {
                        color: $grey2;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .topbar {
        display: none;
    }
}